@media (max-width: 767px) {
    .main {
        padding: 20px;
    }
    .form {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .section__header {
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .section__title--list {
        text-align: center;
    }
    .buttons {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}