.buttons {
  display: flex;
  padding: 20px;
}

.buttons__button {
  background-color: transparent;
  color: teal;
  border: none;
  transition: 0.5s;
}

.buttons__button:hover {
  color: hsl(180, 100%, 40%);
}

.buttons__button:disabled {
  color: #aaa;
}
