html {
    box-sizing: border-box;
    font-family: "Lato";
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    background-color: lightgray;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 10px;
    padding: 20px;
}

.titleProject {
    margin-bottom: 0;
}